<ul class="subscriptions">
  <% @magazine.subscriptions.each do |subscription| %>
   <li><%= subscription.expires_on.strftime("%F") %></li>
  <% end %>
</ul>

<ul class="subscribers">
  <% @magazine.subscribers.each do |subscriber| %>
      <li><%= subscriber.name %></li>
  <% end %>
</ul>